<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.d3.core.mybatis.mapper.UserMapper">

  <cache />

  <select id="getById" parameterType="int" resultType="User">
    SELECT * FROM d3_user WHERE id = #{id}
  </select>
  
  <select id="getByName" parameterType="string" resultType="User">
    SELECT * FROM d3_user WHERE name = #{name}
  </select>
  
  <select id="auth" parameterType="User" resultType="User">
    SELECT * FROM d3_user WHERE name = #{name} and password = #{password}
  </select>

  <insert id="addUser" parameterType="User">
    INSERT INTO d3_user
      (name, PASSWORD, EMAIL)
    VALUES
      (#{name}, #{password}, #{email})
  </insert>

	<insert id="addFriend">
    	INSERT INTO d3_user_relation
      	(uid_1, uid_2, type)
    	VALUES
      	(#{uid1}, #{uid2}, #{type})
	</insert>
	
	<select id="getFriendsById" resultType="User">
		SELECT * FROM d3_user WHERE id in
			(SELECT * FROM d3_user_relation WHERE uid_1 = #{id} or uid_2 = #{id})
	</select>
 
</mapper>