<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context classpath:/org/springframework/context/config/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee classpath:spring-jee-3.0.xsd
			http://www.springframework.org/schema/aop classpath:/org/springframework/aop/config/spring-aop-3.0.xsd
			http://www.springframework.org/schema/task  classpath:spring-task-3.1.xsd  
			http://www.springframework.org/schema/tx classpath:/org/springframework/transaction/config/spring-tx-3.0.xsd">

	<!-- Activates various annotations to be detected in bean classes: Spring's 
		@Required and @Autowired, as well as JSR 250's @Resource. -->
	<context:annotation-config />
	<task:annotation-driven/>
	<context:component-scan base-package="org.d3,com.yayo" />
	
	<bean id="jackson" class="org.codehaus.jackson.map.ObjectMapper" />
	
</beans>
